{% extends 'home.html' %}
{% block title %}Table Booking{% endblock %}
{% block style %}
    <style>
        body{
            background-image: url('https://i.etsystatic.com/33621198/r/il/6b83ae/4482122675/il_fullxfull.4482122675_i8q0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1{ text-size-adjust: 5px;
            text-shadow: black;
            color: white;
            font-weight: bolder;
        }
        h5{
            color: rgb(105, 4, 4);
            font-weight: bolder;
        }
        p{
            color: rgb(58, 12, 224);
            font-weight: bolder;
        }
    </style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% for message in messages %}
    <script>
    Swal.fire('{{message}}');
    </script>
    {% endfor %}
    {% endblock %}

    {% block content %}
    <div class="container mt-5">
        <h1 class="mb-5 text-center">Table Reservation</h1>
        {% if tables == 'none' %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger btn mx-2">No Reservation</button>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <a href="{% url 'tables' %}" class="btn btn-primary">Book Table</a>
        </div>
        {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Reservation Details</h5>
                <hr>
                <p class="text-center"><strong>Table Name:</strong> {{ tables.table }}</p>
                <p class="text-center"><strong>Number of Members:</strong> {{ tables.members }}</p>
            </div>
        </div>

        <div class="mt-4 text-center">
            <a href="{% url 'cancelTable' %}" class="btn btn-primary">Cancel Booking</a>
        </div>
        {% endif %}
    </div>
    {% endblock %}
