{% extends 'home.html' %}
{% block title %}Food{% endblock %}
{% block style %}
<style>
   body{
  background-color: rgb(185, 176, 176);
}
#card{
  margin-left: 25%;
}
#quant{
  margin-left: 45%;
  width: fit-content;
}
  
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% for message in messages %}
<script>
alert('{{message}}')
Swal.fire('{{message}}');

</script>
{% endfor %}
{% endblock %}
{% block content %}
<div class="container py-5 my-5 ">
  <div class="row">
    <div class="col-6" id="card">
      <div class="card">
        <img src="{{food.food_image.url}}" style="height: 250px;
        object-fit: cover;" class="card-img-top" alt="Card 1">
        <div class="card-body">
          <h5 class="card-title text-center" style="font-family: 'Cormorant Garamond', serif;
          font-size: 1.5rem;
          text-transform: uppercase;">{{food.food_name}}</h5>
          <p class="text-center" style="font-weight: bolder;">Rs {{price}}</p>
          <form action="updateOrderFood" method="post">
            <input id="quant" type="number" name="fquantity" value="{{food.quantity}}" min="1" max="{{size}}">
            <input type="hidden" name="foodname" value="{{food.food_name}}">
            <br><br>
            <div class="d-flex justify-content-center"> 
              <button type="submit" class="btn btn-warning btn mx-2">Update</button>
          </div>
          </form>
        </div>
      
      </div>
     
    </div>
    
    </div>
    
    </div>
   
{% endblock %}